<!-- FOOTER -->
<footer class="footer">
    <div class="container">
        <div class="footer-top">
            <div class="footer-left">
                <a href="{% url 'homepage:homepage' %}" class="footer-brand">Kafei</a>
                <div class="footer-socials">
                    <a href="#">Facebook</a>
                    <a href="#">LinkedIn</a>
                    <a href="#">YouTube</a>
                    <a href="#">Instagram</a>
                </div>
            </div>

            <div class="footer-links">
                <div>
                    <h5>About Us</h5>
                    <a href="{% url 'homepage:homepage' %}">Landing Page</a>
                    <a href="{% url 'about:about' %}">About</a>
                </div>
                <div>
                    <h5>Product</h5>
                    <a href="{% url 'menu:menu_home' %}">Menu</a>
                    <a href="{% url 'reviews:reviews' %}">Reviews</a>
                </div>
                <div>
                    <h5>Deals</h5>
                    <a href="{% url 'deals:deals' %}">Deals Page</a>
                </div>
            </div>
        </div>
    </div>
</footer>
